*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #18191A;
}

.header{
    height: 100vh;
    width: 100vw;
}

.forms{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 90px;
}

.form{
    height: 300px;
    width: 720px;
    background-color: #101111;

    display: flex;
    border-radius: 16px;


    /* border: 1px solid rgba(177, 195, 195, 0.3);
    box-shadow: 0 0 15px rgba(129, 143, 143, 0.2), 
                0 0 30px rgba(255, 255, 255, 0.1); */

    /* position: relative; 
    background-color: #101111; 
    background-clip: padding-box; 
    border: 2px solid transparent;  */



    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.05);
    transition: all 0.3s ease;
}

/* .form::before {
    content: "";
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: 16px; 
    background: linear-gradient(45deg, #e55d87, #5fc3e4); 
} */

.form:hover {
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.3);
}